/*
 * [ layout / header ]
 */

// -----------------------------------------------------------------------------

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding-top: 50px;
}