/*
 * [ layout / header ]
 */

// -----------------------------------------------------------------------------

.l-header {
    position: relative;
    height: 210px;
    padding-top: 50px;
}

.l-header__subtitle {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}