/*
 * [ views / page ]
 */

// -----------------------------------------------------------------------------
.l-view {
    height: calc(100vh - 69px);
    color: white;
}

.l-view--animator {
    background-size: cover;
    background-position: center;
    background-image: url('~@/assets/background.jpg');
}