/*
 * [ layout / c-slide ]
 */

// -----------------------------------------------------------------------------

.c-slide {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
}

.c-slide__header {
    position: absolute;
    top: 0;
    padding-top: 50px;
    left: 0;
    right: 0;
}

.c-slide__title {
}

.c-slide__subtitle {
    pointer-events: none;
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.c-slide__content {
    margin: auto;
}

.c-slide__txt {
    max-width: 720px;
    font-size: 60px;
    margin: 20px auto;
    text-align: center;
}