/*
 * [ layout / c-slide ]
 */

// -----------------------------------------------------------------------------

.c-slide {
    width: 100vw;
    margin: auto;
}

.c-slide__content {
    display: flex;
    flex-direction: column;
}