/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

*,
:before,
:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    user-select: none;
    min-height: calc(100vh - 69px);
    overflow: hidden;
}

body {
    touch-action: manipulation;
    line-height: $line-height-base;
    font-family: $font-text;
    font-weight: $weight-base;
    background-color: $color-body;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus:not(:focus-visible) {
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    &:focus {
        outline: none;
    }
}
