/*
 * [ base / font ]
 */

// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Founders Grotesk';
    src: url('~@/assets/fonts/~@/assets/fonts/subset-FoundersGrotesk-Semibold.woff2') format('woff2'),
    url('~@/assets/fonts/subset-FoundersGrotesk-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Orelo Variable';
    src: url('~@/assets/fonts/subset-OreloVariable-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/subset-OreloVariable-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu';
    src: url('~@/assets/fonts/subset-Apercu.woff2') format('woff2'),
    url('~@/assets/fonts/subset-Apercu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('~@/assets/fonts/subset-FoundersGrotesk-Medium.woff2') format('woff2'),
    url('~@/assets/fonts/subset-FoundersGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('~@/assets/fonts/subset-FoundersGrotesk-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/subset-FoundersGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hunter River';
    src: url('~@/assets/fonts/subset-HunterRiver-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/subset-HunterRiver-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ogg';
    src: url('~@/assets/fonts/subset-Ogg-Roman.woff2') format('woff2'),
    url('~@/assets/fonts/subset-Ogg-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('~@/assets/fonts/subset-FoundersGrotesk-Light.woff2') format('woff2'),
    url('~@/assets/fonts/subset-FoundersGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ogg';
    src: url('~@/assets/fonts/subset-Ogg-Italic.woff2') format('woff2'),
    url('~@/assets/fonts/subset-Ogg-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('~@/assets/fonts/subset-FoundersGrotesk-Bold.woff2') format('woff2'),
    url('~@/assets/fonts/subset-FoundersGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

