/*
 * [ base / font ]
 */

// -----------------------------------------------------------------------------

// 1. Roboto
// ====================================
/*

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: font('roboto-400.eot');
    src: local('Roboto'), local('Roboto-Regular'),
         font('roboto-400.eot?#iefix') format('embedded-opentype'),
         font('roboto-400.woff2') format('woff2'),
         font('roboto-400.woff') format('woff'),
         font('roboto-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: font('roboto-700.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
         font('roboto-700.eot?#iefix') format('embedded-opentype'),
         font('roboto-700.woff2') format('woff2'),
         font('roboto-700.woff') format('woff'),
         font('roboto-700.ttf') format('truetype');
}


// 2. Lato
// ====================================

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: font('lato-300.eot');
    src: local('Lato Light'), local('Lato-Light'),
    font('lato-300.eot?#iefix') format('embedded-opentype'),
    font('lato-300.woff2') format('woff2'),
    font('lato-300.woff') format('woff'),
    font('lato-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: font('lato-400.eot');
    src: local('Lato'), local('Lato-Regular'),
    font('lato-400.eot?#iefix') format('embedded-opentype'),
    font('lato-400.woff2') format('woff2'),
    font('lato-400.woff') format('woff'),
    font('lato-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: font('lato-700.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
    font('lato-700.eot?#iefix') format('embedded-opentype'),
    font('lato-700.woff2') format('woff2'),
    font('lato-700.woff') format('woff'),
    font('lato-700.ttf') format('truetype');
}*/
