/*
 * [ utilities / typography ]
 */

// -----------------------------------------------------------------------------

.u-lh115 {
    line-height: 1.15;
}

.u-ttu {
    text-transform: uppercase;
}

.u-fw700 {
    font-weight: 700;
}

.u-fz14 {
    font-size: 14px;
}
