/*
 * [ elements / form ]
 */

// -----------------------------------------------------------------------------

::placeholder {
    font-size: 12px;
    color: $gray-dark;
}

textarea {
    min-height: 240px;
    width: 100%;
    padding: 16px;
    resize: vertical;
    overflow-y: auto;
    vertical-align: top;
    border: solid 1px #e3e3e3;
}

input {
    max-width: 100%;
    padding: 8px 16px;
    border-radius: 0;
    border: solid 1px #e3e3e3;
    outline: none;
}

.is-required:after {
    content: '*';
    color: $red;
    margin-left: 2px;
}
